@tailwind base;
@tailwind components;
@tailwind utilities;
/* transition */
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.7s ease;
}

/* slide-right */
.slide-right-enter-to {
  position: absolute;
  right: 0;
}

.slide-right-enter-from {
  position: absolute;
  right: -100%;
}
.slide-right-leave-to {
  position: absolute;
  left: -100%;
}

.slide-right-leave-from {
  position: absolute;
  left: 0;
}

/* slide-left */
.slide-left-enter-to {
  position: absolute;
  left: 0;
}

.slide-left-enter-from {
  position: absolute;
  left: -100%;
}
.slide-left-leave-to {
  position: absolute;
  right: -100%;
}

.slide-left-leave-from {
  position: absolute;
  right: 0;
}

.products {
  @apply mt-4 grid gap-4;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .15s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}